/* @font-face {
    font-family: "CustomFont";
    src: url("OpenSans/OpenSans-Bold.ttf");
    src: url("OpenSans/OpenSans-Medium.ttf");
    src: url("OpenSans/OpenSans-Regular.ttf");
    src: url("OpenSans/OpenSans-SemiBold.ttf");
} */
@import url(//fonts.googleapis.com/css?family=Open+Sans);
body{
    /* text-align: center; */
    width:100%;
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width:100%;
    padding:0;
    margin:0;
}
.container{
    width:100%;
    margin:0;
    padding:0;
}
h4, h6, h5, p{
    margin:0;
}
.top-bar,
.about-section,
.education-experience-section,
.skills-section{
    display: grid;
    grid-template-columns: 30% 70%;
    padding:0 30px;
    color:black;
    box-sizing:border-box;
}
.top-bar{
    padding: 30px 30px 0 30px;
}
.top-bar h6{
    font-size:16px;
    margin-bottom:10px;
}
.top-bar p{
    font-size:14px;
}
.top-bar .location-wrapper{
    background-color:#FFCC00;
    padding: 30px;
    display: flex;
}
.top-bar .location-wrapper .location-outter{
    display: flex;
    align-items: center;
}
.top-bar .location-wrapper .location-outter .div{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.top-bar .location-wrapper div i{
    margin-right:15px;
    font-size:25px;
}
.top-bar .collection{
    display:flex;
    justify-content: space-between;
    padding:30px;
}
.top-bar .collection{
    text-align:left;
}
.about-section{
    background-color:#21212F;
}
.about-section .img-wrapper .colored-bg{
    background-color:#FFCC00;
    padding:30px;
    height:250px;
    display:flex;
    justify-content:center;
    -moz-box-shadow:    inset 0 0 10px #21212F;
    -webkit-box-shadow: inset 0 0 10px #21212F;
    box-shadow:         inset 0 0 400px #21212F;
}
.about-section .img-wrapper .colored-bg img{
    width:auto;
    height:100%;
    -moz-box-shadow:    3px 3px 2px 0px #21212F;
    -webkit-box-shadow: 3px 3px 2px 0px #21212F;
    box-shadow:         3px 3px 2px 0px #21212F;
}
.about-section .about-description{
    display: flex;
    flex-flow:column;
    text-align:left;
    padding:20px;
    color:white;
}
.about-section .about-description hr{
    border:2px solid #FFCC00;
    width:200px;
    float:left;
    margin:0 0 10px 0px;
}
.about-section .about-description h4{
    font-size:44px;
    font-weight:500px;
    margin-bottom:10px;
}
.about-section .about-description .sub-title{
    letter-spacing:0.2rem;
    font-size:22px;
    margin-bottom:30px;
}
.about-section .about-description .about-text{
    width:50%;
    font-size:16px;
}
.education-experience-section .education-wrapper,
.skills-section .prog-skills-wrapper{
    background-color:#FFCC00;
    padding:30px 0 0  30px;
}
.education-experience-section .education-wrapper h5,
.education-experience-section .experience-wrapper h5,
.skills-section h5{
    font-size:28px;
    margin-bottom :20px;
}
.education-experience-section .education-wrapper h6,
.education-experience-section .experience-wrapper h6{
    font-size:24px;
    margin-bottom:15px;
    font-weight:500 !important;
}
.education-experience-section .education-wrapper hr,
.skills-section hr{
    border:2px solid #EAB628;
    width:99%;
    float:left;
    margin:0 0 10px 0px;
}
.education-experience-section .experience-wrapper hr{
    border:2px solid #F0F0F0;
    width:100%;
    float:left;
    margin:0 0 10px 0px;
}
.education-experience-section .education-wrapper p,
.education-experience-section .experience-wrapper p{
    margin-bottom:20px;
}
.education-experience-section .education-wrapper p.period,
.education-experience-section .experience-wrapper p.period{
    padding:5px;
    background:black;
    color:white;
    border-radius:5px;
    margin-bottom:10px;
    display: inline-block;
}
.education-experience-section .experience-wrapper,
.skills-section .prog-skills-wrapper,
.skills-section .personal-skills-wrapper,
.skills-section .lang-skills-wrapper{
    padding:30px 0 0  30px;
}
.skills-section ul li{
    margin-bottom:10px;
}
.skills-section{
    padding-bottom:60px;
}